body,
.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Ubuntu', sans-serif;
}

body {
    color: white;
}
.reveal {
  font-size: 5vh;
}


/* https://github.com/hakimel/reveal.js/issues/180#issuecomment-9435021 */
.reveal .slides {
  height: 100%;
  top: 0;
  margin-top: 0;
}
.reveal .slides>section {
  min-height: 90%;
}
.reveal .slides>section>section {
  min-height: 100%;
}



.reveal pre,
.reveal pre code {
    box-sizing: border-box;
    box-shadow: none;
}
.reveal .full,
.reveal .full pre,
.reveal .full code {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}
.reveal .full code {
  padding: 1rem;
  overflow: auto;
}

.reveal li code {
  background: lightgrey;
  border-radius: 0.5em;
  padding: 0.1em 0.2em;
  margin: 0 0.1em;
}

.reveal a {
    color: white;
}
.reveal a::before {
    content: '➔';
    margin-right: 0.5em;
}

section:not([data-background]),
section:not([data-background]) a,
section[data-background="yellow"],
section[data-background="yellow"] a {
    color: black;
}

.slides {
    background-image: url('./imgs/programmatic-logo-w-200.png');
    background-position: top right;
    background-repeat: no-repeat;
}

h1 {
  line-height: 1em;
}


.cover h1, .cover h2 {
    text-align: right;
}
.cover h3, .cover p {
    text-align: left;
}

.top { top: 2em; }
.reveal h2 { margin-bottom: 1em; }
.reveal h3 { margin-bottom: 1em; }

.reveal ul {
    margin: 0;
}
.reveal ul li {
    text-align: center;
    list-style: none;
    margin: 0 0 0.8em 0;
}
.reveal .huge li {
    font-size: 2.11em;
}

iframe {
    margin: 0;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.reveal section img {
     border: none;
     box-shadow: none;
     background: none;
}
